@mixin list-circle($color) {
    position: relative;
    margin-left: 36px;
    &::before {
        content: "";
        position: absolute;
        left: -36px;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: $color;

        @media (max-width: $breakpoint5) {
            width: 12px;
            height: 12px;
            left: -26px;
        }
    }
}

@mixin list-vertical-line($color) {
    position: relative;
    margin-left: 31px;
    @media (max-width: $breakpoint5) {
        margin-left: 26px;
    }
    &::before {
        content: "";
        position: absolute;
        left: -36px;
        top: 50%;
        transform: translateY(-50%);
        width: 11px;
        height: 100%;
        border-radius: 40px;
        background: $color;
        @media (max-width: $breakpoint5) {
            width: 6px;
            left: -20px;
        }
    }
}

@mixin ball-in-letter($left, $top, $transform, $ballSize) {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: $ballSize;
        height: $ballSize;
        border-radius: 50%;
        background: $light-green;
        left: $left;
        top: $top;
        transform: $transform;
        @media (max-width: $breakpoint4) {
            width: $ballSize * 0.6;
            height: $ballSize * 0.6;
        }
        @media (max-width: $breakpoint5) {
            width: $ballSize * 0.4;
            height: $ballSize * 0.4;
        }
    }
}

@mixin gradient-border(
    $width,
    $height,
    $borderWidth,
    $borderRadius,
    $baseColor,
    $circlePosition,
    $radialGradFirstColor,
    $radialGradSecondColor
) {
    width: $width;
    height: $height;
    border: double $borderWidth transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box;

    border-radius: $borderRadius;
    background-image: linear-gradient($baseColor, $baseColor),
        radial-gradient(circle at $circlePosition, $radialGradFirstColor, $radialGradSecondColor);
}

@mixin gradient-ellipse($width, $height) {
    width: $width;
    height: $height;
    background: linear-gradient(154deg, #4667ff 0%, rgba(74, 107, 255, 0) 100%);
    filter: blur(96px);
}
