$white: #ffffff;
$black: #262629;
$black-muted: #434347;
$grey: #b5bbdb;

$light-blue: #3556ee;
$light-green: #93ff6d;
$light-grey: #eef0fa;

$dark-blue: #060a28;
$dark-violet: #6f4aff;
$dark-grey: #eeeefd;

$body-font: Inter, sans-serif;
$main-title-font: ZenDots, sans-serif;
$secondary-title-font: Jura, sans-serif;

$breakpoint1: 1920px;
$breakpoint2: 1440px;
$breakpoint3: 940px;
$breakpoint4: 768px;
$breakpoint5: 475px;
